<!DOCTYPE html>
<html>
<head>
    <title>Register</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='register.css') }}">
</head>
<body>
    <form method="POST" action="{{ url_for('register') }}" enctype="multipart/form-data">
        <h2>Register</h2> <!-- Title inside the form -->

        <label for="image">Profile Image:</label>
        <input type="file" name="image" id="image" accept="image/*">

        <label for="name">Full Name:</label>
        <input type="text" name="name" id="name" required>

        <label for="birthday">Birthday:</label>
        <input type="date" name="birthday" id="birthday" required>

        <label for="address">Address:</label>
        <input type="text" name="address" id="address" required>

        <label for="username">Username:</label>
        <input type="username" name="username" id="username" required>

        <label for="password">Password:</label>
        <input type="password" name="password" id="password" required>

        <button type="submit">Register</button>
    </form>

    
</body>
</html>
